{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>

    <div class="login-container">
    {% include  'common/navbar.html' %}
    <div class="sign-in32-wrapper">
        <!--SignIn32 component-->
        <div class="sign-in32-container1 thq-section-padding">
            <div
                    class="sign-in32-max-width thq-section-padding thq-section-max-width"
            >
                <div class="sign-in32-form-root">
                    <div class="sign-in32-form1">
                        <h2 class="sign-in32-text10 thq-heading-2">
                            <fragment class="login-fragment30">
                                <span class="login-text30">Sign in</span>
                            </fragment>
                        </h2>
                        <form method="post" class="sign-in32-form2">
                            {% csrf_token %}
                            <div class="sign-in32-email">
                                <label for="id_login" class="thq-body-large">Email or Username</label>
                                <input
                                        type="text"
                                        name="username"
                                        id="id_login"
                                        required
                                        placeholder="Email address or Username"
                                        class="sign-in32-textinput1 thq-input thq-body-large"
                                        value="{{ form.login.value|default_if_none:'' }}"
                                >
                            </div>
                            <div class="sign-in32-password">
                                <div class="sign-in32-container2">
                                    <label for="id_password" class="thq-body-large">Password</label>
                                </div>
                                <input
                                        type="password"
                                        name="password"
                                        id="id_password"
                                        required
                                        placeholder="Password"
                                        class="sign-in32-textinput2 thq-input thq-body-large"
                                >
                                {% if form.non_field_errors %}
                                    <div class="error">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                                {#        <a href="{% url 'password_reset' %}" class="sign-in32-link thq-body-small">#}
                                Forgot password?
                                {#                                </a>#}
                            </div>
                            <button type="submit" class="sign-in32-button1 thq-button-filled">
                            <span class="sign-in32-text14 thq-body-small">
                                <fragment class="login-fragment27">
                                    <span class="login-text27">Sign in</span>
                                </fragment>
                            </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="sign-in32-container4">
                    <div class="sign-in32-divider1">
                        <div class="sign-in32-divider2"></div>
                        <p class="thq-body-large">
                            <fragment class="login-fragment29">
                                <span class="login-text29">New to the table?</span>
                            </fragment>
                        </p>
                        <div class="sign-in32-divider3"></div>
                    </div>
                    <button
                            type="button"
                            class="sign-in32-button2 thq-button-outline"
                    >
                  <span class="sign-in32-text16 thq-body-small">
                    <fragment class="login-fragment28">
                      <span class="login-text28">
                          <a href="{% url 'register' %}">Create an account</a>
                      </span>
                    </fragment>
                  </span>
                    </button>
                </div>
            </div>
            <img
                    alt="SignUp Image"
                    src="{% static 'img/pavaj_garden_72-1500w.jpeg' %}"
                    class="sign-in32-sign-up-image thq-img-ratio-16-9"
            />
            <div class="sign-in32-container5"></div>
        </div>
    </div>
{% endblock %}
