{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet"/>

    <div class="register-container">
        {% include  'common/navbar.html' %}
        <sign-up1-wrapper class="sign-up1-wrapper">
            <div class="sign-up1-container1">
                <div class="sign-up1-max-width thq-section-max-width">
                    <div class="sign-up1-form-root thq-section-padding">
                        <div class="sign-up1-form1">
                            <div class="sign-up1-title-root">
                                <h2 class="thq-heading-2">
                                    <fragment class="register-fragment28">
                        <span class="register-text28">
                          Join the Pavaj Experience
                        </span>
                                    </fragment>
                                </h2>
                                <div class="sign-up1-have-an-account-login1">
                                    <p class="thq-body-large">
                                        Already have an account?
                                        <a href="{% url 'login' %}">Sign in</a>
                                    </p>
                                </div>
                            </div>
                            <form method="post" class="sign-up1-form2">
                                {% csrf_token %}
                                <div class="sign-up1-email">
                                    <label for="id_email" class="thq-body-large">Email</label>
                                    <input
                                            type="email"
                                            name="email"
                                            id="id_email"
                                            required
                                            placeholder="Email address"
                                            class="sign-up1-textinput1 thq-input thq-body-large"
                                            value="{{ form.email.value|default_if_none:'' }}"
                                    />
                                    {% if form.email.errors %}
                                        <div class="error">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="sign-up1-username">
                                    <label for="id_username" class="thq-body-large">Username</label>
                                    <input
                                            type="text"
                                            name="username"
                                            id="id_username"
                                            required
                                            placeholder="Username"
                                            class="sign-up1-textinput2 thq-input thq-body-large"
                                            value="{{ form.username.value|default_if_none:'' }}"
                                    />
                                    {% if form.username.errors %}
                                        <div class="error">{{ form.username.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="sign-up1-password">
                                    <div class="sign-up1-textfield">
                                        <div class="sign-up1-container2">
                                            <label for="id_password1" class="thq-body-large">Password</label>
                                        </div>
                                        <input
                                                type="password"
                                                name="password1"
                                                id="id_password1"
                                                required
                                                placeholder="Password"
                                                class="sign-up1-textinput3 thq-input thq-body-large"
                                        />
                                        {% if form.password1.errors %}
                                            <div class="error">{{ form.password1.errors }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="sign-up1-pass-requirements">
                                        <div class="sign-up1-pass-conditions1">
                                            <div class="sign-up1-bulletpoint1"><span class="thq-body-small">*Use 8 or more characters</span>
                                            </div>
                                            <div class="sign-up1-bulletpoint2"><span class="thq-body-small">*One special character</span>
                                            </div>
                                        </div>
                                        <div class="sign-up1-pass-conditions2">
                                            <div class="sign-up1-bulletpoint3"><span class="thq-body-small">*One Uppercase character</span>
                                            </div>
                                            <div class="sign-up1-bulletpoint4"><span
                                                    class="thq-body-small">*One number</span></div>
                                        </div>
                                        <div class="sign-up1-pass-conditions3">
                                            <div class="sign-up1-bulletpoint5"><span class="thq-body-small">*One lowercase character</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sign-up1-password-confirm">
                                    <label for="id_password2" class="thq-body-large">Confirm Password</label>
                                    <input
                                            type="password"
                                            name="password2"
                                            id="id_password2"
                                            required
                                            placeholder="Confirm Password"
                                            class="sign-up1-textinput3 thq-input thq-body-large"
                                    />
                                    {% if form.password2.errors %}
                                        <div class="error">{{ form.password2.errors }}</div>
                                    {% endif %}
                                </div>

                                <div class="sign-up1-terms-agree">
                                    <p class="thq-body-large">
                                        By creating an account, you agree to the Terms of use and
                                        Privacy Policy.
                                    </p>
                                </div>
                                <button
                                        type="submit"
                                        class="thq-button-filled sign-up1-button"
                                >
                    <span class="sign-up1-text22 thq-body-small">
                      <fragment class="register-fragment27">
                        <span class="register-text27">Create an account</span>
                      </fragment>
                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="sign-up1-container8">
                        <img
                                alt="SignUp Image"
                                src="{% static 'img/dsc08391.jpg-600w.jpeg' %}"
                                class="sign-up1-sign-up-image thq-img-ratio-4-6"
                        />
                    </div>
                </div>
            </div>
        </sign-up1-wrapper>
{% endblock %}