{% extends 'common/base.html' %}
{% load form_filters %}
{% load static %}
{% block content %}
    <link href="{% static 'css/edit-booking.css' %}" rel="stylesheet"/>

    <div class="edit-booking-container">
        {% include 'common/navbar.html' %}
        <edit-booking-form-wrapper
                class="edit-booking-form-wrapper"
                rootclassname="edit-booking-formundefined"
        >
            <div class="edit-booking-form-container1 thq-section-padding edit-booking-formroot-class-name">
                <div class="edit-booking-form-max-width thq-section-padding thq-section-max-width">

                    <div class="edit-booking-form-form-root">
                        <div class="edit-booking-form-form1">
                            <h2 class="edit-booking-form-text10 thq-heading-2">
                                Edit Booking
                            </h2>

                            <form method="post" class="edit-booking-form-form2">
                                {% csrf_token %}

                                <!-- Full Name -->
                                <div class="edit-booking-form-email1">
                                    <label class="thq-body-large" for="{{ form.full_name.id_for_label }}">
                                        Full Name:
                                    </label>
                                    {{ form.full_name|add_class:"edit-booking-form-textinput1 thq-input thq-body-large" }}
                                    {{ form.full_name.errors }}
                                </div>

                                <!-- Email -->
                                <div class="edit-booking-form-email2">
                                    <label class="thq-body-large" for="{{ form.email.id_for_label }}">
                                        Email:
                                    </label>
                                    {{ form.email|add_class:"edit-booking-form-textinput2 thq-input thq-body-large" }}
                                    {{ form.email.errors }}
                                </div>

                                <!-- Phone Number -->
                                <div class="edit-booking-form-email3">
                                    <label class="thq-body-large" for="{{ form.phone_number.id_for_label }}">
                                        Phone Number:
                                    </label>
                                    {{ form.phone_number|add_class:"edit-booking-form-textinput3 thq-input thq-body-large" }}
                                    {{ form.phone_number.errors }}
                                </div>

                                <!-- Date -->
                                <div class="edit-booking-form-email4">
                                    <label class="thq-body-large" for="{{ form.date.id_for_label }}">
                                        Date:
                                    </label>
                                    {{ form.date|add_class:"edit-booking-form-textinput4 thq-input thq-body-large" }}
                                    {{ form.date.errors }}
                                </div>

                                <!-- Time -->
                                <div class="edit-booking-form-email5">
                                    <label class="thq-body-large" for="{{ form.time.id_for_label }}">
                                        Time:
                                    </label>
                                    {{ form.time|add_class:"edit-booking-form-textinput5 thq-input thq-body-large" }}
                                    {{ form.time.errors }}
                                </div>
                                *Bookings are allowed between 12:00 and 22:00.
                                <!-- Guests -->
                                <div class="edit-booking-form-email6">
                                    <label class="thq-body-large" for="{{ form.guests.id_for_label }}">
                                        Number of guests:
                                    </label>
                                    {{ form.guests|add_class:"edit-booking-form-textinput6 thq-input thq-body-large" }}
                                    {{ form.guests.errors }}
                                </div>

                                <!-- Additional Info -->
                                <div class="edit-booking-form-password">
                                    <label class="thq-body-large" for="{{ form.additional_info.id_for_label }}">
                                        Additional information
                                    </label>
                                    {{ form.additional_info|add_class:"edit-booking-form-textarea textarea" }}
                                    {{ form.additional_info.errors }}
                                </div>

                                <div class="edit-booking-form-container3">
                                    <button type="submit" class="edit-booking-form-button thq-button-filled">
                                        <span class="edit-booking-form-text18 thq-body-small">Save Changes</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr class="edit-booking-form-separator"/>
                    <span class="edit-booking-form-text19">
                    Please note: Your reservation is not confirmed until you
                    receive a confirmation email or a call from our team.
                </span>
                </div>

                <img
                        alt="SignUp Image"
                        src="{% static 'img/dsc08391.jpg-1500w.jpeg' %}"
                        class="edit-booking-form-sign-up-image thq-img-ratio-16-9"
                />
                <div class="edit-booking-form-container4"></div>
            </div>
        </edit-booking-form-wrapper>
    </div>
{% endblock %}
