{% extends 'common/base.html' %}
{% load form_filters %}
{% load static %}
{% block content %}
    <link href="{% static 'css/sent-inquiry.css' %}" rel="stylesheet"/>

    <div class="sent-inquiry-container">
        {% include 'common/navbar.html' %}
        <make-inquiry-wrapper class="make-inquiry-wrapper">
            <div class="make-inquiry-container1 thq-section-padding">
                <div class="make-inquiry-max-width thq-section-padding thq-section-max-width">
                    <div class="make-inquiry-form-root">
                        <div class="make-inquiry-form1">
                            <h2 class="make-inquiry-text10 thq-heading-2">
                                <span class="sent-inquiry-text29">Your Request, Our Priority</span>
                            </h2>
                            <h3 class="make-inquiry-text11">
                            <span class="sent-inquiry-text28">
                                Submit your inquiry and our team will get in touch.
                            </span>
                            </h3>

                            <form method="post" class="make-inquiry-form2">
                                {% csrf_token %}

                                <!-- Full Name -->
                                <div class="make-inquiry-email1">
                                    <label for="{{ form.full_name.id_for_label }}" class="thq-body-large">
                                        Full Name:
                                    </label>
                                    {{ form.full_name|add_class:"make-inquiry-textinput1 thq-input thq-body-large" }}
                                    {{ form.full_name.errors }}
                                </div>

                                <!-- Email -->
                                <div class="make-inquiry-email2">
                                    <label for="{{ form.email.id_for_label }}" class="thq-body-large">
                                        Email:
                                    </label>
                                    {{ form.email|add_class:"make-inquiry-textinput2 thq-input thq-body-large" }}
                                    {{ form.email.errors }}
                                </div>

                                <!-- Phone Number -->
                                <div class="make-inquiry-email3">
                                    <label for="{{ form.phone_number.id_for_label }}" class="thq-body-large">
                                        Phone Number:
                                    </label>
                                    {{ form.phone_number|add_class:"make-inquiry-textinput3 thq-input thq-body-large" }}
                                    {{ form.phone_number.errors }}
                                </div>

                                <!-- Subject -->
                                <div class="make-inquiry-email4">
                                    <label for="{{ form.subject.id_for_label }}" class="thq-body-large">
                                        Subject
                                    </label>
                                    {{ form.subject|add_class:"make-inquiry-textinput4 thq-input thq-body-large" }}
                                    {{ form.subject.errors }}
                                </div>

                                <!-- Message -->
                                <div class="make-inquiry-password">
                                    <div class="make-inquiry-container2">
                                        <label for="{{ form.message.id_for_label }}" class="thq-body-large">
                                            Message
                                        </label>
                                    </div>
                                    {{ form.message|add_class:"make-inquiry-textarea textarea" }}
                                    {{ form.message.errors }}
                                </div>

                                <!-- Confirm Policy -->
                                <div class="make-inquiry-policy" style="margin-top:15px;">
                                    <label for="{{ form.confirm_policy.id_for_label }}" class="thq-body-small">
                                        {{ form.confirm_policy }}
                                        {{ form.confirm_policy.label }}
                                        {{ form.confirm_policy.errors }}
                                    </label>
                                </div>

                                <!-- Submit Button -->
                                <div class="make-inquiry-container3" style="margin-top:15px;">
                                    <button type="submit" class="make-inquiry-button thq-button-filled">
                                        <span class="make-inquiry-text17 thq-body-small">Send Inquiry</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <img alt="SignUp Image"
                     src="{% static 'img/pavaj-restaurant-plovdiv%20(2)-1500w.jpg' %}"
                     class="make-inquiry-sign-up-image thq-img-ratio-16-9"/>
                <div class="make-inquiry-container4"></div>
            </div>
        </make-inquiry-wrapper>
    </div>
{% endblock %}
