{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/contact.css' %}" rel="stylesheet"/>

    <div class="contact-container">
        {% include  'common/navbar.html' %}
        <contact111-wrapper class="contact111-wrapper">
            <!--Contact111 component-->
            <div class="contact111-container thq-section-padding">
                <div class="contact111-max-width thq-section-max-width">
                    <div class="contact111-section-title">
                        <div class="contact111-content1">
                            <h2 class="thq-heading-2">
                                <fragment class="contact-fragment34">
                                    <span class="contact-text37">Contact us</span>
                                </fragment>
                            </h2>
                            <p class="thq-body-large">
                                <fragment class="contact-fragment30">
                      <span class="contact-text30">
                        We’d love to hear from you — whether you’re making a
                        reservation, planning a special occasion, or simply
                        curious to know more about us.
                      </span>
                                </fragment>
                            </p>
                        </div>
                    </div>
                    <div class="contact111-content2 thq-flex-row">
                        <div class="contact111-content3">
                            <div class="contact111-content4">
                                <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                                    <path
                                            d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
                                    ></path>
                                </svg>
                                <div class="contact111-contact-info1">
                                    <h3 class="contact111-text12 thq-heading-3">Email</h3>
                                    <p class="thq-body-large">
                                        <fragment class="contact-fragment31">
                          <span class="contact-text31">
                            If you have questions or would like to book a table,
                            send us an email and we’ll get back to you as soon
                            as possible.
                          </span>
                                        </fragment>
                                    </p>
                                    <span class="thq-body-small">
                        <fragment class="contact-fragment27">
                          <span class="contact-text27">
                            pavaj.plovdiv@gmail.com
                          </span>
                        </fragment>
                      </span>
                                </div>
                            </div>
                            <div class="contact111-content5">
                                <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                                    <path
                                            d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
                                    ></path>
                                </svg>
                                <div class="contact111-contact-info2">
                                    <h3 class="contact111-text14 thq-heading-3">Phone</h3>
                                    <p class="thq-body-large">
                                        <fragment class="contact-fragment32">
                          <span class="contact-text32">
                            Give us a call for reservations or event inquiries.
                            We’re here to help.
                          </span>
                                        </fragment>
                                    </p>
                                    <span class="thq-body-small">
                        <fragment class="contact-fragment28">
                          <span class="contact-text28">
                            +359&nbsp;878 111 876
                          </span>
                        </fragment>
                      </span>
                                </div>
                            </div>
                            <div class="contact111-content6">
                                <svg viewBox="0 0 1024 1024" class="thq-icon-medium">
                                    <path
                                            d="M512 0c-176.732 0-320 143.268-320 320 0 320 320 704 320 704s320-384 320-704c0-176.732-143.27-320-320-320zM512 512c-106.040 0-192-85.96-192-192s85.96-192 192-192 192 85.96 192 192-85.96 192-192 192z"
                                    ></path>
                                </svg>
                                <div class="contact111-contact-info3">
                                    <h3 class="contact111-text17 thq-heading-3">Address</h3>
                                    <p class="thq-body-large">
                                        <fragment class="contact-fragment33">
                          <span class="contact-text33">
                            <span>
                              Our restaurant is nestled in the heart of Kapana —
                              Plovdiv’s most artistic and vibrant district.
                              You’ll find us just a few steps from the Roman
                              Stadium.
                            </span>
                            <br/>
                            <br/>
                          </span>
                                        </fragment>
                                    </p>
                                    <span class="thq-body-small">
                        <fragment class="contact-fragment29">
                          <span class="contact-text29">
                            Zlatarska Street 7, 4000 Plovdiv, Bulgaria
                          </span>
                        </fragment>
                      </span>
                                </div>
                            </div>
                        </div>
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.055289784621!2d24.746210911735247!3d42.14910364828308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1bd20d26cab%3A0xea1c610b46d29a3d!2z0KDQtdGB0YLQvtGA0LDQvdGCINCf0LDQstCw0LY!5e0!3m2!1sbg!2sbg!4v1752326161081!5m2!1sbg!2sbg"
                                title="Map"
                                class="contact111-iframe thq-img-ratio-16-9"
                        ></iframe>
                    </div>
                </div>
            </div>
        </contact111-wrapper>
{% endblock %}