{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/seasonal-menu.css' %}" rel="stylesheet"/>

    <div class="seasonal-menu-container">
        {% include  'common/navbar.html' %}
        <hero33-wrapper class="hero33-wrapper" rootclassname="hero33undefined">
            <!--Hero33 component-->
            <div class="hero33-header9 hero33root-class-name">
                <img
                        alt="Fine dining restaurant interior"
                        src="{% static 'img/pavaj_garden_42-1500w.jpeg' %}"
                        class="thq-img-ratio-16-9"
                />
                <div class="hero33-content thq-section-padding">
                    <div class="hero33-max-width thq-flex-row thq-section-max-width">
                        <div class="hero33-column1">
                            <h1 class="thq-heading-1 hero33-text1">
                                <fragment class="seasonal-menu-fragment27">
                                    <span class="seasonal-menu-text27">Seasonal Menu</span>
                                </fragment>
                            </h1>
                        </div>
                        <div class="hero33-column2">
                            <div class="hero33-actions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </hero33-wrapper>
        <content-list1-wrapper
                class="content-list1-wrapper"
                rootclassname="content-list1undefined"
        >
            <!--ContentList1 component-->
            <div
                    class="content-list1-container thq-section-padding content-list1root-class-name"
            >
                <div class="content-list1-max-width thq-section-max-width">
                    <div class="content-list1-content thq-flex-column">
                        <ul class="content-list1-ul thq-flex-column">
                            <li class="thq-flex-column list-item">
                                <h2 class="content-list1-heading1 thq-heading-2">
                                    <fragment class="seasonal-menu-fragment33">
                                        <span class="seasonal-menu-text33">Starters</span>
                                    </fragment>
                                </h2>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="seasonal-menu-fragment34">
                                        <span class="seasonal-menu-text34">САЛАТА ЦВЕТАН</span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="seasonal-menu-fragment28">
                        <span class="seasonal-menu-text28">
                          краставици, розов домат, червен лук, зелен лук,
                          червена печена чушка, сиврия, сумак, прясна люта
                          чушка, сирене Салакис, магданоз, чеснов дресинг и
                          циганска баница / 460 гр
                        </span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="seasonal-menu-fragment35">
                                        <span class="seasonal-menu-text35">САЛАТА ЦВЕТАН</span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="seasonal-menu-fragment29">
                        <span class="seasonal-menu-text29">
                          краставици, розов домат, червен лук, зелен лук,
                          червена печена чушка, сиврия, сумак, прясна люта
                          чушка, сирене Салакис, магданоз, чеснов дресинг и
                          циганска баница / 460 гр
                        </span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="seasonal-menu-fragment36">
                                        <span class="seasonal-menu-text36">САЛАТА ЦВЕТАН</span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="seasonal-menu-fragment30">
                        <span class="seasonal-menu-text30">
                          краставици, розов домат, червен лук, зелен лук,
                          червена печена чушка, сиврия, сумак, прясна люта
                          чушка, сирене Салакис, магданоз, чеснов дресинг и
                          циганска баница / 460 гр
                        </span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="seasonal-menu-fragment37">
                                        <span class="seasonal-menu-text37">САЛАТА ЦВЕТАН</span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="seasonal-menu-fragment31">
                        <span class="seasonal-menu-text31">
                          краставици, розов домат, червен лук, зелен лук,
                          червена печена чушка, сиврия, сумак, прясна люта
                          чушка, сирене Салакис, магданоз, чеснов дресинг и
                          циганска баница / 460 гр
                        </span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="seasonal-menu-fragment38">
                                        <span class="seasonal-menu-text38">САЛАТА ЦВЕТАН</span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="seasonal-menu-fragment32">
                        <span class="seasonal-menu-text32">
                          краставици, розов домат, червен лук, зелен лук,
                          червена печена чушка, сиврия, сумак, прясна люта
                          чушка, сирене Салакис, магданоз, чеснов дресинг и
                          циганска баница / 460 гр
                        </span>
                                    </fragment>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </content-list1-wrapper>
{% endblock %}