{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/wine-list.css' %}" rel="stylesheet"/>

    <div class="wine-list-container">
        {% include  'common/navbar.html' %}
        <hero34-wrapper class="hero34-wrapper" rootclassname="hero34undefined">
            <!--Hero34 component-->
            <div class="hero34-header9 hero34root-class-name">
                <img
                        alt="Fine dining restaurant interior"
                        src="{% static 'img/dsc08139-1500w.jpg' %}"
                        class="thq-img-ratio-16-9"
                />
                <div class="hero34-content thq-section-padding">
                    <div class="hero34-max-width thq-flex-row thq-section-max-width">
                        <div class="hero34-column1">
                            <h1 class="thq-heading-1 hero34-text1">
                                <fragment class="wine-list-fragment27">
                                    <span class="wine-list-text27">Our Wine</span>
                                </fragment>
                            </h1>
                        </div>
                        <div class="hero34-column2">
                            <div class="hero34-actions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </hero34-wrapper>
        <content-list12-wrapper
                class="content-list12-wrapper"
                rootclassname="content-list12undefined"
        >
            <!--ContentList12 component-->
            <div
                    class="content-list12-container thq-section-padding content-list12root-class-name"
            >
                <div class="content-list12-max-width thq-section-max-width">
                    <div class="content-list12-content thq-flex-column">
                        <ul class="content-list12-ul thq-flex-column">
                            <li class="thq-flex-column list-item">
                                <h2 class="content-list12-heading1 thq-heading-2">
                                    <fragment class="wine-list-fragment38">
                                        <span class="wine-list-text38">Бели Вина</span>
                                    </fragment>
                                </h2>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="wine-list-fragment33">
                        <span class="wine-list-text33">
                          Why Not? Червен мискет, 2020
                        </span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="wine-list-fragment28">
                                        <span class="wine-list-text28">Георгиев/Милков</span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="wine-list-fragment34">
                        <span class="wine-list-text34">
                          Why Not? Червен мискет, 2020
                        </span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="wine-list-fragment29">
                                        <span class="wine-list-text29">Георгиев/Милков</span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="wine-list-fragment35">
                        <span class="wine-list-text35">
                          Why Not? Червен мискет, 2020
                        </span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="wine-list-fragment30">
                                        <span class="wine-list-text30">Георгиев/Милков</span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="wine-list-fragment36">
                        <span class="wine-list-text36">
                          Why Not? Червен мискет, 2020
                        </span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="wine-list-fragment31">
                                        <span class="wine-list-text31">Георгиев/Милков</span>
                                    </fragment>
                                </p>
                            </li>
                            <li class="list-item">
                                <h3 class="thq-heading-3">
                                    <fragment class="wine-list-fragment37">
                        <span class="wine-list-text37">
                          Why Not? Червен мискет, 2020
                        </span>
                                    </fragment>
                                </h3>
                                <p class="thq-body-small">
                                    <fragment class="wine-list-fragment32">
                                        <span class="wine-list-text32">Георгиев/Милков</span>
                                    </fragment>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </content-list12-wrapper>
{% endblock %}
