{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/add-menu-type-page.css' %}" rel="stylesheet"/>

    <div class="add-menu-type-page-container">
        {% include  'common/navbar.html' %}
        <add-menu-type-wrapper class="add-menu-type-wrapper">
            <!--AddMenuType component-->
            <div class="add-menu-type-container1 thq-section-padding">
                <div
                        class="add-menu-type-max-width thq-section-padding thq-section-max-width"
                >
                    <div class="add-menu-type-form-root">
                        <div class="add-menu-type-form1">
                            <h2 class="add-menu-type-text1 thq-heading-2">
                                <fragment class="add-menu-type-page-fragment28">
                      <span class="add-menu-type-page-text28">
                        Add Menu Type
                      </span>
                                </fragment>
                            </h2>
                            <form class="add-menu-type-form2">
                                <div class="add-menu-type-email1">
                                    <label
                                            for="thq-sign-in-1-password"
                                            class="thq-body-large"
                                    >
                                        Menu Type
                                    </label>
                                    <input
                                            type="text"
                                            id="thq-sign-in-3-email"
                                            required="true"
                                            placeholder="Menu Type"
                                            class="add-menu-type-textinput1 thq-input thq-body-large"
                                    />
                                </div>
                                <div class="add-menu-type-email2">
                                    <label
                                            for="thq-sign-in-1-password"
                                            class="thq-body-large"
                                    >
                                        Description
                                    </label>
                                    <textarea
                                            placeholder="Enter menu type description (opional)..."
                                            class="add-menu-type-textarea textarea"
                                    ></textarea>
                                </div>
                                <div class="add-menu-type-password">
                                    <div class="add-menu-type-container2">
                                        <label
                                                for="thq-sign-in-3-password"
                                                class="thq-body-large"
                                        >
                                            Ncode
                                        </label>
                                        <div class="add-menu-type-hide-password"></div>
                                    </div>
                                    <input
                                            type="number"
                                            id="thq-sign-in-3-password"
                                            required="true"
                                            placeholder="Enter unique code..."
                                            class="add-menu-type-textinput2 thq-input thq-body-large"
                                    />
                                </div>
                            </form>
                            <div class="add-menu-type-container3">
                                <button
                                        type="submit"
                                        class="add-menu-type-button thq-button-filled"
                                >
                      <span class="add-menu-type-text5 thq-body-small">
                        <fragment class="add-menu-type-page-fragment27">
                          <span class="add-menu-type-page-text27">
                            Add Menu Type
                          </span>
                        </fragment>
                      </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <img
                        alt="SignUp Image"
                        src="{% static 'img/dsc08300.jpg-1500w.jpeg' %}"
                        class="add-menu-type-sign-up-image thq-img-ratio-16-9"
                />
                <div class="add-menu-type-container4"></div>
            </div>
        </add-menu-type-wrapper>
{% endblock %}