{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/allergens-page.css' %}" rel="stylesheet"/>

    <div class="allergens-page-container">
        {% include  'common/navbar.html' %}
        <allergens-types-wrapper
                class="allergens-types-wrapper"
                rootclassname="allergens-typesundefined"
        >
            <!--AllergensTypes component-->
            <div
                    class="allergens-types-container1 thq-section-padding allergens-typesroot-class-name"
            >
                <div
                        class="allergens-types-max-width thq-section-padding thq-section-max-width"
                >
                    <h1>
                        <fragment class="allergens-page-fragment32">
                            <span class="allergens-page-text32">Allergens</span>
                        </fragment>
                    </h1>
                    <hr class="allergens-types-separator1"/>
                    <div class="allergens-types-container2">
                <span class="allergens-types-text11">
                  <fragment class="allergens-page-fragment27">
                    <span class="allergens-page-text27">Allergen:</span>
                  </fragment>
                </span>
                        <span class="allergens-types-text12">
                  <fragment class="allergens-page-fragment29">
                    <span class="allergens-page-text29">Ncode:</span>
                  </fragment>
                </span>
                        <span class="allergens-types-text13">
                  <fragment class="allergens-page-fragment28">
                    <span class="allergens-page-text28">Peanuts</span>
                  </fragment>
                </span>
                        <span class="allergens-types-text14">
                  <fragment class="allergens-page-fragment30">
                    <span class="allergens-page-text30">100</span>
                  </fragment>
                </span>
                    </div>
                    <button type="button" class="allergens-types-button button">
                <span>
                  <fragment class="allergens-page-fragment31">
                    <span class="allergens-page-text31">Edit</span>
                  </fragment>
                </span>
                    </button>
                    <hr class="allergens-types-separator2"/>
                </div>
                <img
                        alt="SignUp Image"
                        src="{% static 'img/img_5007-1500w.jpg' %}"
                        class="allergens-types-sign-up-image thq-img-ratio-16-9"
                />
                <div class="allergens-types-container3"></div>
            </div>
        </allergens-types-wrapper>
{% endblock %}