{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/edit-menu-category-page.css' %}" rel="stylesheet"/>
    <div class="edit-menu-category-page-container">
        {% include 'common/navbar.html' %}
        <edit-menu-category-wrapper class="edit-menu-category-wrapper" rootclassname="edit-menu-categoryundefined">
            <div class="edit-menu-category-container1 thq-section-padding edit-menu-categoryroot-class-name">
                <div class="edit-menu-category-max-width thq-section-padding thq-section-max-width">
                    <div class="edit-menu-category-form-root">
                        <div class="edit-menu-category-form1">
                            <h2 class="edit-menu-category-text10 thq-heading-2" style="text-align:center;">
                                <fragment class="edit-menu-category-page-fragment29">
                                    <span class="edit-menu-category-page-text29">Edit Menu Category</span>
                                </fragment>
                            </h2>

                            {% if form.non_field_errors %}
                                <div style="color:red; margin-bottom:10px; text-align:center;">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}


                            <form method="post" class="edit-menu-category-form2">
                                {% csrf_token %}
                                <div class="edit-menu-category-email1">
                                    <label for="{{ form.name.id_for_label }}" class="thq-body-large">Menu
                                        Category:</label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <p style="color:red;">{{ form.name.errors.0 }}</p>
                                    {% endif %}
                                </div>

                                <div class="edit-menu-category-email2" style="display:flex; flex-direction:column;">
                                    <label for="{{ form.menu_type.id_for_label }}" class="thq-body-large"
                                           style="margin-bottom:5px;">
                                        Menu Type
                                    </label>
                                    {{ form.menu_type }}
                                    {% if form.menu_type.errors %}
                                        <p style="color:red;">{{ form.menu_type.errors.0 }}</p>
                                    {% endif %}
                                </div>

                                <div class="edit-menu-category-email3">
                                    <label for="{{ form.description.id_for_label }}"
                                           class="thq-body-large">Description:</label>
                                    {{ form.description }}
                                    {% if form.description.errors %}
                                        <p style="color:red;">{{ form.description.errors.0 }}</p>
                                    {% endif %}
                                </div>

                                <div class="edit-menu-category-password">
                                    <div class="edit-menu-category-container2">
                                        <label for="{{ form.order.id_for_label }}" class="thq-body-large">Order:</label>
                                    </div>
                                    {{ form.order }}
                                    {% if form.order.errors %}
                                        <p style="color:red;">{{ form.order.errors.0 }}</p>
                                    {% endif %}
                                </div>

                                <div class="edit-menu-category-container3"
                                     style="display:flex; justify-content:center; gap:15px; margin-top:15px;">
                                    <button type="submit" class="edit-menu-category-button1 thq-button-filled">
                                        <span class="edit-menu-category-text15 thq-body-small">Save Changes</span>
                                    </button>

                                    <a href="javascript:history.back()"
                                       class="edit-menu-category-button2 thq-button-filled" style="background:#777;">
                                        <span class="edit-menu-category-text16 thq-body-small">Cancel</span>
                                    </a>

                                    <a href="{% url 'delete-menu-category' object.pk %}"
                                       class="edit-menu-category-button2 thq-button-filled" style="background:#c0392b;">
                                        <span class="edit-menu-category-text16 thq-body-small">Delete Menu Category</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <img alt="SignUp Image"
                     src="{% static 'img/dsc08168.jpg-1500w.jpeg' %}"
                     class="edit-menu-category-sign-up-image thq-img-ratio-16-9"/>
                <div class="edit-menu-category-container4"></div>
            </div>
        </edit-menu-category-wrapper>
    </div>
{% endblock %}
