{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/edit-allergen-page.css' %}" rel="stylesheet"/>

    <div class="edit-allergen-page-container">
        {% include  'common/navbar.html' %}
        <edit-allergen-wrapper
                class="edit-allergen-wrapper"
                rootclassname="edit-allergenundefined"
        >
            <!--EditAllergen component-->
            <div
                    class="edit-allergen-container1 thq-section-padding edit-allergenroot-class-name"
            >
                <div
                        class="edit-allergen-max-width thq-section-padding thq-section-max-width"
                >
                    <div class="edit-allergen-form-root">
                        <div class="edit-allergen-form1">
                            <h2 class="edit-allergen-text1 thq-heading-2">
                                <fragment class="edit-allergen-page-fragment29">
                      <span class="edit-allergen-page-text29">
                        Edit Allergen
                      </span>
                                </fragment>
                            </h2>
                            <form class="edit-allergen-form2">
                                <div class="edit-allergen-email1">
                                    <label
                                            for="thq-sign-in-1-password"
                                            class="thq-body-large"
                                    >
                                        Allergen
                                    </label>
                                    <input
                                            type="text"
                                            id="thq-sign-in-3-email"
                                            required="true"
                                            placeholder="Allergen"
                                            class="edit-allergen-textinput1 thq-input thq-body-large"
                                    />
                                </div>
                                <div class="edit-allergen-email2">
                                    <label
                                            for="thq-sign-in-1-password"
                                            class="thq-body-large"
                                    >
                                        Icon
                                    </label>
                                    <input
                                            type="text"
                                            id="thq-sign-in-3-email"
                                            required="true"
                                            placeholder="Enter icon URL (optional)"
                                            class="edit-allergen-textinput2 thq-input thq-body-large"
                                    />
                                </div>
                            </form>
                            <div class="edit-allergen-container2">
                                <button
                                        type="submit"
                                        class="edit-allergen-button1 thq-button-filled"
                                >
                      <span class="edit-allergen-text4 thq-body-small">
                        <fragment class="edit-allergen-page-fragment27">
                          <span class="edit-allergen-page-text27">
                            Save Changes
                          </span>
                        </fragment>
                      </span>
                                </button>
                                <button
                                        type="submit"
                                        class="edit-allergen-button2 thq-button-filled"
                                >
                      <span class="edit-allergen-text5 thq-body-small">
                        <fragment class="edit-allergen-page-fragment28">
                          <span class="edit-allergen-page-text28">
                            Delete Allergen
                          </span>
                        </fragment>
                      </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <img
                        alt="SignUp Image"
                        src="{% static 'img/pavaj_garden_20-1500w.jpeg' %}"
                        class="edit-allergen-sign-up-image thq-img-ratio-16-9"
                />
                <div class="edit-allergen-container3"></div>
            </div>
        </edit-allergen-wrapper>
{% endblock %}