{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/menu-categories-page.css' %}" rel="stylesheet"/>

    <div class="menu-categories-page-container">
        {% include  'common/navbar.html' %}
        <menu-categories-wrapper
                class="menu-categories-wrapper"
                rootclassname="menu-categoriesundefined"
        >
            <!--MenuCategories component-->
            <div
                    class="menu-categories-container1 thq-section-padding menu-categoriesroot-class-name"
            >
                <div
                        class="menu-categories-max-width thq-section-padding thq-section-max-width"
                >
                    <h1>
                        <fragment class="menu-categories-page-fragment36">
                  <span class="menu-categories-page-text36">
                    Menu Categories
                  </span>
                        </fragment>
                    </h1>
                    <hr class="menu-categories-separator1"/>
                    <div class="menu-categories-container2">
                <span class="menu-categories-text11">
                  <fragment class="menu-categories-page-fragment27">
                    <span class="menu-categories-page-text27">
                      Menu Category:
                    </span>
                  </fragment>
                </span>
                        <span class="menu-categories-text12">
                  <fragment class="menu-categories-page-fragment29">
                    <span class="menu-categories-page-text29">
                      Menu Type:&nbsp;
                    </span>
                  </fragment>
                </span>
                        <span class="menu-categories-text13">
                  <fragment class="menu-categories-page-fragment31">
                    <span class="menu-categories-page-text31">Ncode:</span>
                  </fragment>
                </span>
                        <span class="menu-categories-text14">
                  <fragment class="menu-categories-page-fragment34">
                    <span class="menu-categories-page-text34">
                      Order:&nbsp;
                    </span>
                  </fragment>
                </span>
                        <span class="menu-categories-text15">
                  <fragment class="menu-categories-page-fragment28">
                    <span class="menu-categories-page-text28">Starters</span>
                  </fragment>
                </span>
                        <span class="menu-categories-text16">
                  <fragment class="menu-categories-page-fragment30">
                    <span class="menu-categories-page-text30">
                      Seasonal Menu
                    </span>
                  </fragment>
                </span>
                        <span class="menu-categories-text17">
                  <fragment class="menu-categories-page-fragment32">
                    <span class="menu-categories-page-text32">100</span>
                  </fragment>
                </span>
                        <span class="menu-categories-text18">
                  <fragment class="menu-categories-page-fragment35">
                    <span class="menu-categories-page-text35">1</span>
                  </fragment>
                </span>
                    </div>
                    <button type="button" class="menu-categories-button button">
                <span>
                  <fragment class="menu-categories-page-fragment33">
                    <span class="menu-categories-page-text33">Edit</span>
                  </fragment>
                </span>
                    </button>
                    <hr class="menu-categories-separator2"/>
                </div>
                <img
                        alt="SignUp Image"
                        src="{% static 'img/dsc08300.jpg-1500w.jpeg' %}"
                        class="menu-categories-sign-up-image thq-img-ratio-16-9"
                />
                <div class="menu-categories-container3"></div>
            </div>
        </menu-categories-wrapper>
{% endblock %}
