{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/menu-items-page.css' %}" rel="stylesheet"/>

    <div class="menu-items-page-container">
        {% include  'common/navbar.html' %}
        <menu-items-wrapper
                class="menu-items-wrapper"
                rootclassname="menu-itemsundefined"
        >
            <!--MenuItems component-->
            <div
                    class="menu-items-container1 thq-section-padding menu-itemsroot-class-name"
            >
                <div
                        class="menu-items-max-width thq-section-padding thq-section-max-width"
                >
                    <h1>
                        <fragment class="menu-items-page-fragment34">
                            <span class="menu-items-page-text34">Menu Items</span>
                        </fragment>
                    </h1>
                    <hr class="menu-items-separator1"/>
                    <div class="menu-items-container2">
                <span class="menu-items-text11">
                  <fragment class="menu-items-page-fragment27">
                    <span class="menu-items-page-text27">Meal:&nbsp;</span>
                  </fragment>
                </span>
                        <span class="menu-items-text12">
                  <fragment class="menu-items-page-fragment29">
                    <span class="menu-items-page-text29">Category:&nbsp;</span>
                  </fragment>
                </span>
                        <span class="menu-items-text13">
                  <fragment class="menu-items-page-fragment31">
                    <span class="menu-items-page-text31">Weight:</span>
                  </fragment>
                </span>
                        <span class="menu-items-text14">
                  <fragment class="menu-items-page-fragment28">
                    <span class="menu-items-page-text28">Meat Balls</span>
                  </fragment>
                </span>
                        <span class="menu-items-text15">
                  <fragment class="menu-items-page-fragment30">
                    <span class="menu-items-page-text30">Main Dishes</span>
                  </fragment>
                </span>
                        <span class="menu-items-text16">
                  <fragment class="menu-items-page-fragment32">
                    <span class="menu-items-page-text32">300 gr.</span>
                  </fragment>
                </span>
                    </div>
                    <button type="button" class="menu-items-button button">
                <span>
                  <fragment class="menu-items-page-fragment33">
                    <span class="menu-items-page-text33">Edit</span>
                  </fragment>
                </span>
                    </button>
                    <hr class="menu-items-separator2"/>
                </div>
                <img
                        alt="SignUp Image"
                        src="{% static 'img/img_4994-1500w.jpg' %}"
                        class="menu-items-sign-up-image thq-img-ratio-16-9"
                />
                <div class="menu-items-container3"></div>
            </div>
        </menu-items-wrapper>
{% endblock %}